.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  position: relative;
}

.googlemap{
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100%;

}

.detail-popup{
  position: relative;
  z-index: 10;
  /* top: 10;
  left: 10; */

   width: 80%;
   height: 200px !important;
   margin: 0 auto;
   background: grey;
   color: yellowgreen;
 }
 